* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url("../img/blue-grid-backg.jpg");
    background-size: cover;
    box-sizing: border-box;
}

a, a::after {
    color: hsl(17, 78%, 32%);
    font-weight: bolder;
    text-decoration: none;
}

#window {
    background-color: hsl(60, 10%, 85%);
    border: groove hsl(250, 41%, 49%) 5px;
    color: hsl(250, 65%, 30%);
    font-family: 'Courier New', Courier, monospace;
    height: 90%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    background-color: mediumslateblue;
    border-bottom: solid hsl(250, 65%, 30%) 3px;
    color: white;
}

/* Header */
nav ul {
    display: table;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    border-bottom: solid hsl(250, 65%, 30%) 3px;
    display: table-cell;
    padding: 0 .1em 0 .05em;
    vertical-align: middle;
}

header img {
    vertical-align: middle;
}

.location {
    background-color: white;
    border: solid black 1px;
    color: black;
    float: right;
    font-size: .75em;
    height: 1.1em;
    width: 50%;
    margin-top: .2em;
    margin-right: 30%;
    padding-left: .2em;
}

.logo {
    float: left;
    margin: .2em;
}

#location-border {
    background-color: hsl(60, 10%, 81.3%);
    border-bottom: solid hsl(250, 65%, 30%) 2px;
    height: 1.2em;
}

#button {
    height: 4em;
    position: relative;
    right: 2.5em;
}

/* Main */

main {
    background-color: hsl(60, 9%, 77%);
    border-bottom: groove hsl(250, 41%, 49%) 5px;
    padding-top: 10%;
    text-align: center;
    height: 38em;
}

div.digimon-1 img, div.digimon-2 img, div.digimon-3 img, div.digimon-4 img, div.digimon-5 img, div.digimon-6 img {
    width: 90%;
    margin: 10px;
}

div.digi-border-4 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 200px;
    height: 200px;
}

div.digi-border-4 img {
    grid-column: 1;
    grid-row: 1;
    position: relative;
}

div.digi-border-4 img.base {
    z-index: 1;
}

div.digi-border-4 img.glasses {
    position: absolute;
    z-index: 2;
}

.upper-digimon {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    margin-bottom: 50px;
    column-gap: 50px;
    z-index: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.lower-digimon {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    column-gap: 50px;
    z-index: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.digimon-1, .digimon-2, .digimon-3, .digimon-4, .digimon-5, .digimon-6 {
    display: grid;
    height: 220px;
    width: 200px;
    grid-template-rows: 200px, .2em;
}

.digi-border-1, .digi-border-2, .digi-border-3, .digi-border-4, .digi-border-5, .digi-border-6 {
    display: grid;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: groove 5px hsl(250, 41%, 49%);
}

.digi-border-4 {
    position: relative;
}

#page-content {
    display: grid;
    grid-template-rows: 1fr 0fr 0fr 1fr;
    grid-template-columns: 1fr;
    border: groove 5px hsl(250, 41%, 49%);
    background-color: hsl(60, 7%, 75%);
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
    position: relative;
    bottom: 6.25em;
    height: 36em;
    width: 65em;
}

/* Pop Ups */

 /* Popup container */
.popcontainer-up {
    display: grid;
    z-index: 2;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    align-items: center;
    justify-items: center;
}

/* The actual popup (appears on top) */
.popup1 {
    z-index: 2;
    display: inline-grid;
    position: relative;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 4fr, 2fr;
    color: hsl(250, 65%, 30%);
    background-color: hsla(60, 10%, 85%, 0.9);
    border: groove 5px hsla(250, 41%, 49%, 0.9);
    list-style-position: inside;
    width: 660px;
    height: 200px;
    bottom: 320px;
} 

.popup2 {
    z-index: 2;
    display: inline-grid;
    position: relative;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 4fr, 2fr;
    color: hsl(250, 65%, 30%);
    background-color: hsla(60, 10%, 85%, 0.9);
    border: groove 5px hsla(250, 41%, 49%, 0.9);
    list-style-position: inside;
    width: 660px;
    height: 200px;
    bottom: 320px;
} 

.popup3 {
    z-index: 2;
    display: inline-grid;
    position: relative;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 4fr, 2fr;
    color: hsl(250, 65%, 30%);
    background-color: hsla(60, 10%, 85%, 0.9);
    border: groove 5px hsla(250, 41%, 49%, 0.9);
    list-style-position: inside;
    width: 660px;
    height: 200px;
    bottom: 320px;
}

.popup4 {
    z-index: 2;
    display: inline-grid;
    position: relative;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 4fr, 2fr;
    color: hsl(250, 65%, 30%);
    background-color: hsla(60, 10%, 85%, 0.9);
    border: groove 5px hsla(250, 41%, 49%, 0.9);
    list-style-position: inside;
    width: 660px;
    height: 200px;
    bottom: 320px;
}

.popup5 {
    z-index: 2;
    display: inline-grid;
    position: relative;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 4fr, 2fr;
    color: hsl(250, 65%, 30%);
    background-color: hsla(60, 10%, 85%, 0.9);
    border: groove 5px hsla(250, 41%, 49%, 0.9);
    list-style-position: inside;
    width: 660px;
    height: 200px;
    bottom: 320px;
}

.popup6 {
    z-index: 2;
    display: inline-grid;
    position: relative;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 4fr, 2fr;
    color: hsl(250, 65%, 30%);
    background-color: hsla(60, 10%, 85%, 0.9);
    border: groove 5px hsla(250, 41%, 49%, 0.9);
    list-style-position: inside;
    width: 660px;
    height: 200px;
    bottom: 320px;
}

/* Popup contents */
.block0 {
    z-index: 2;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 1 / span 2;
    grid-row: 1;
    border: 2px hsl(250, 41%, 49%) solid;
}

.block-a1 {
    z-index: 2;
    padding-top: 5px;
    display: inline-grid;
    align-content: start;
    justify-items: center;
    grid-column: 1 / 2;
    grid-row: 2;
    border: 2px hsl(250, 41%, 49%) solid;
}

.block-b1 {
    z-index: 2;
    padding-top: 5px;
    display: inline-grid;
    align-content: start;
    justify-items: center;
    grid-column: 2 / 3;
    grid-row: 2;
    border: 2px hsl(250, 41%, 49%) solid;
}

.block-c1 {
    z-index: 2;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column: 1 / span 2;
    grid-row: 3;
    border: 2px hsl(250, 41%, 49%) solid;
    width: 100%;
}

.center {
    text-align: start;
}

.popbold {
    font-size: 1.05em;
}